.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items {
  padding: 50px 0;
}

.items__container {
  max-width: 1285px;
  margin: 0 auto;
}

.items__body {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.item__video {
  margin: 0 0 15px 0;
  position: relative;
  top: 0;
  left: 0;
  padding: 0 0 57% 0;
}

.item__video video, .item__video iframe {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
}

.picture__container {
  max-width: 1000px;
  position: relative;
  top: 0;
  left: 0;
  padding: 0 0 50% 0;
}

.picture__container picture {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 50% 0;
}

.picture__container picture source {
  width: 100%;
}

.picture__container picture img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 50% 0;
}
