body {
  // background-color: red;
}
.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .items__video {
//   width: 450px;
//   & video {
//     width: 100%;
//   }
// }

.items {
padding: 50px 0;

  &__container {
    max-width: 1285px;
    margin: 0 auto;
  }

  &__body {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}
.item {

  &__video {
    margin: 0 0 15px 0;
    position: relative;
    top: 0;
    left: 0;
    // aspect-ratio: 16 / 9;
    padding: 0 0 57% 0;
    & video, iframe {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
  }
}


.picture {

}
.picture__container {
  max-width: 1000px;
  position: relative;
  top: 0;
  left: 0;

  padding: 0 0 50% 0;
  
  & picture {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 50% 0;
    source {
      width: 100%;
    }
    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 0 50% 0;
    }
  }
}